body {
  margin: 0 2em;
}

.image {
  height: 70vh;
}

.image-container {
  display: flex;
  flex-direction: row;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.image-container > * {
  flex-basis: 50%;
  margin-left: 1em;
}

.nav {
  display: flex;
  justify-content: flex-end;
}

.menu {
  list-style: none;
}

.menu li {
  display: inline;
  margin-right: 1em;
}

.menu li:last-of-type {
  margin-right: 0;
}

.btn {
  background-color: black;
  color: white;
  padding: 1em 3em;
  border: 1px solid black;
}

.btn:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
  cursor: pointer;
}
