body {
  margin: 0;
}

.wrapper {
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.nav-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  width: 95%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  list-style: none;
  position: absolute;
  left: 0;
  right: 0;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 0 auto;
  z-index: 10;
}

.menu li {
  display: inline;
  margin-right: 0.5em;
}

.menu li:last-of-type {
  margin-right: 0;
}

.btn-container {
  display: flex;
  align-items: center;
  flex-flow: row;
}

.btn-text {
  display: none;
}

@media(min-width: 700px) {
  .btn-text {
    display: inline;
  }
}

.icon {
  fill: white;
}

.btn {
  background-color: black;
  color: white;
  padding: 0.8em;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  display: inline-block;
}

.btn:hover .icon {
  fill: black;
}

.btn[disabled] {
  opacity: 0.3;
}

.btn[disabled]:hover .icon {
  fill: white;
}

.btn[disabled]:hover {
  cursor: auto;
  background-color: black;
  color: white;
  border-color: white;
}

.btn:hover {
  background-color: white;
  color: black;
  border-color: black;
  cursor: pointer;
}

.hidden {
  display: none;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.title {
  color: white;
  font-size: 1.5em;
  margin: 0;
  line-height: 1;
  flex-grow: 0;
}

.loading {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
}

.pull-right {
  float: right;
}

.box {
  background: rgba(0,0,0,0.8);
  color: white;
  padding: 1em;
  font-size: 0.8rem;
  position: fixed;
  z-index: 1;
  bottom: 0;
}

.box-title {
  font-size: 1.2em;
}

.box-text {

}

@media(min-width: 800px) {
  .box {
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
  }

  .box-title {
    font-size: 1.5em;
  }
}
