body {
  margin: 0;
}

.wrapper {
  background-position: top center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.nav-wrapper {
  position: absolute;
  width: 100%;
  right: 2em;
}

.nav {
  display: flex;
  justify-content: center;
}

.menu {
  list-style: none;
}

.menu li {
  display: inline;
  margin-right: 1em;
}

.menu li:last-of-type {
  margin-right: 0;
}

.container {
  margin: 0 2em;
}

.btn {
  background-color: black;
  color: white;
  padding: 1em 3em;
  border: 1px solid white;
}

.btn:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
  cursor: pointer;
}

.text {
  background: rgba(0,0,0,0.8);
  color: white;
  padding: 1em;
  font-size: 1.2em;
}

.hidden {
  display: none;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}
