/* Viewports */
:root {
  /* Color palette */

  /* Typography */

  /* Background */
  /* --bg-major-color: hsl(204, 47%, 32%)
  --bg-major-color-d: hsl(204, 53%, 22%)
  --bg-minor-color: hsl(253, 28%, 36%) */

  /* Description */

  /* Buttons */

  /* Loading */
}
html {
  box-sizing: border-box;
  font-size: calc(12px + 10 * ((100vw - 320px) / 960));
  line-height: calc(16px + 16 * ((100vw - 320px) / 960))
}
@media screen and (min-width: 1280px) {
  html {
    line-height: 32px
  }
}
@media screen and (max-width: 320px) {
  html {
    line-height: 16px
  }
}
@media screen and (min-width: 1280px) {
  html {
    font-size: 22px
  }
}
@media screen and (max-width: 320px) {
  html {
    font-size: 12px
  }
}
body {
  /* background-color: var(--bg-major-color) */
  /* background-image: linear-gradient(-20deg, var(--bg-major-color) 0%, var(--bg-minor-color) 100%) */
  background-color: hsl(0, 0%, 4.5%);
  overflow: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif
}
*, *:before, *:after {
  box-sizing: inherit
}
a, button {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0)
}
p, h1, h2, h3, h4, h5, h6 {
  margin-top: 0
}
p {
  margin-bottom: 0
}
.show {
  opacity: 1 !important;
  visibility: visible !important
}
.hidden {
  display: none
}
.center {
  text-align: center
}
.right {
  text-align: right
}
.pull-right {
  float: right
}
.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsl(0, 0%, 95%)
}
.wrapper {
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center
}
.nav-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  width: 95%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between
}
.title {
  color: hsl(0, 0%, 95%);
  font-size: 1.5em;
  margin: 0;
  line-height: 1;
  flex-grow: 0
}
.fade-enter {
  opacity: 0.01
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 1s
}
.fade-leave {
  opacity: 1
}
.fade-leave-active {
  opacity: 0.0;
  transition: opacity 0.5s
}
.menu {
  font-size: 1em;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  align-items: stretch;
  flex: 1 0 auto;
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  padding: 0;
  z-index: 5
}
.menu li {
  display: flex;
  flex: 1
}
.menu-item-settings {
  position: relative
}
.settings-menu {
  background-color: rgba(25,25,25,0.9);
  color: hsl(0, 0%, 95%);
  position: absolute;
  transition: opacity 0.1s linear;
  min-width: 9em;
  z-index: -1;
  top: 105%;
  right: 0;
  opacity: 0;
  visibility: hidden
}
.settings-menu.show {
  opacity: 1;
  visibility: visible
}
.settings-item {
  padding: 0.3rem 1rem;
  display: flex;
  justify-content: space-between
}
.settings-item:hover {
  background-color: rgba(75,75,75,0.3)
}
.settings-item > label {
  width: 100%
}
.settings-item > label[disabled] {
  color: hsl(0, 0%, 44%)
}
a.settings-item {
  color: hsl(0, 0%, 95%);
  text-decoration: none
}
.btn {
  width: 100%;
  border-width: 0;
  background-color: hsl(0, 0%, 5%);
  color: hsl(0, 0%, 95%);
  padding: 0.8rem 1.1rem;
  transition: background-color 0.5s;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center
}
.btn.active {
  color: hsl(0, 0%, 44%);
  cursor: pointer
}
.btn.active > .icon {
  fill: hsl(0, 0%, 44%)
}
.btn:focus {
  outline: none
}
.btn[disabled] {
  color: hsl(0, 0%, 12%)
}
.btn[disabled] > .icon {
  fill: hsl(0, 0%, 12%)
}
.non-touch .btn-active {
  cursor: pointer;
  color: hsl(0, 0%, 44%)
}
.non-touch .btn:hover {
  cursor: pointer;
  color: hsl(0, 0%, 44%)
}
.non-touch .btn-active > .icon {
  fill: hsl(0, 0%, 44%)
}
.non-touch .btn:hover > .icon {
  fill: hsl(0, 0%, 44%)
}
.non-touch .btn[disabled]:hover {
  cursor: not-allowed;
  background-color: hsl(0, 0%, 5%);
  color: hsl(0, 0%, 12%)
}
.non-touch .btn[disabled]:hover > .icon {
  fill: hsl(0, 0%, 12%)
}
.icon {
  fill: white;
  width: 1.5em;
  height: 1.5em
}
.btn-text {
  display: none
}
.btn-settings > .icon {
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear
}
.btn-settings.open > .icon {
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg)
}
.description {
  padding: 0 1rem;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  justify-content: center;
  width: 100%;
  z-index: 1;
  transition-duration: 0.3s
}
.description.show {
  opacity: 1;
  visibility: visible
}
.description-text {
  width: 100%;
  background: rgba(0,0,0,0.8);
  border: 6px solid hsl(0, 0%, 10%);
  font-size: 0.8em;
  text-align: justify;
  padding: 1rem;
  color: white;
  overflow-y: auto
}
.footer-container {
  font-size: 1em;
  position: absolute;
  bottom: 1em;
  left: 0;
  color: hsl(0, 0%, 95%);
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  margin: 0 auto;
  transition: all 0.5s linear
}
.footer-icon {
  z-index: 1;
  display: flex
}
.footer {
  opacity: 0;
  display: flex;
  -webkit-transform: translateX(-7%);
          transform: translateX(-7%);
  transition: opacity 0.2s linear, -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, opacity 0.2s linear;
  transition: transform 0.2s ease-in-out, opacity 0.2s linear, -webkit-transform 0.2s ease-in-out
}
.footer.show {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1
}
.footer-inner {
  background-color: hsl(0, 0%, 5%);
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 0.8rem
}
.footer-inner-title {
  text-align: center;
  flex: 1 1 auto
}
.footer-date {
  padding-left: 0.5rem;
  flex: 0 0 auto
}
.footer-title {
  flex: 1 auto
}
.overlay {
  background: rgba(0,0,0,.8);
  position: fixed;
  overflow: hidden;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transition-duration: 0.5s;
  opacity: 0;
  visibility: hidden
}
.frame {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  max-height: 70%;
  max-width: 70%;
  margin: 0 auto;
  z-index: 11;
  top: 50%;
  bottom: 0;
  -webkit-transform: translate(0,-50%);
          transform: translate(0,-50%)
}
.frame-image {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  border: 9px solid hsl(0, 0%, 95%);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%)
}
.frame-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}
.quotation {
  font-family: "Apple Garamond", "Baskerville", "Times New Roman",
    "Droid Serif", "Times","Source Serif Pro", "DejaVu Serif", serif;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
  padding: 0 1.5rem 0 4rem
}
.quotation:before {
  content: '\201C';
  position: absolute;
  top: 2rem;
  left: 1.1rem;
  font-size: 5em;
  line-height: 0
}
.quote {
  font-size: 1.5em;
  line-height: 1.45;
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
  font-style: italic
}
.author {
  color: hsl(0, 0%, 60%);
  font-size: 1.5em
}
.author:before {
  content: "\2014 \2009"
}
.loading-description-container {
  padding: 0 1rem;
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: center
}
.loading-description-text {
  border: 6px solid hsl(0, 0%, 10%);
  font-size: 0.8em;
  text-align: justify;
  padding: 1rem;
  color: white;
  overflow-y: auto
}
.ring {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white
}
.ring:before {
  width: calc(3.2 * 1em);
  height: calc(3.2 * 1em);
  content: "";
  display: flex;
  border-radius: 50%;
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-left-color: white;
  border-right-color: white;
  position: absolute;
  -webkit-animation: rotate 1s ease infinite;
          animation: rotate 1s ease infinite
}
.ring:after {
  content: 'Downloading';
  font-size: 0.4em;
  width: calc(3.2 1em);
  text-align: center;
  -webkit-animation: fadeOut 2.3s ease infinite;
          animation: fadeOut 2.3s ease infinite
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg)
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg)
  }
}
@-webkit-keyframes fadeOut {
  50% {
    opacity: 0.5
  }
}
@keyframes fadeOut {
  50% {
    opacity: 0.5
  }
}
.ring-fixed {
  position: absolute;
  right: 1em;
  bottom: 6em
}
@media (min-width: 700px) {
  .menu {
    margin-top: 1em;
    font-size: 0.9em
  }
  .menu li {
    flex: none
  }
  .settings-menu {
    top: 107%
  }
  .btn-text {
    display: inline;
    padding-left: 0.2rem
  }
  .description {
    width: auto;
    padding: 0
  }
  .description-text {
    max-width: 600px;
    min-width: 600px;
    max-height: 65vh
  }
  .footer-container {
    font-size: 0.9em
  }
  .footer-title {
    max-width: 300px;
    min-width: 300px
  }
  .frame {
    max-height: 80%;
    max-width: 80%
  }
  .loading-description-container {
    padding: 0
  }
  .loading-description-text {
    max-width: 600px;
    max-height: 65vh
  }
  .ring-fixed {
    bottom: 2em;
    right: 2em
  }
}
@media (max-width: 699px) {
  .description-text {
    max-height: 50vh
  }
  .loading-description-text {
    max-width: 500px;
    max-height: 50vh
  }
}
@media (min-width: 978px) {
  .description-text {
    max-width: 700px;
    min-width: 700px
  }
  .footer-title {
    max-width: 600px;
    min-width: 600px
  }
  .loading-description-text {
    max-width: 700px
  }
}
