@custom-media --small-viewport (min-width: 700px)
@custom-media --only-small-viewport (max-width: 699px)

:root
  --white: hsl(0, 0%, 95%)
  --black: hsl(0, 0%, 5%)
  --neutral-color: hsl(0, 0%, 60%)
  --light-black: hsl(0, 0%, 12%)
  --loader-size: 10
  --bg-major-color: hsl(204, 47%, 32%)
  --bg-major-color-d: hsl(204, 53%, 22%)
  --bg-minor-color: hsl(253, 28%, 36%)
  --text-width: 600px
