.info
  background: rgba(0,0,0,0.8)
  color: var(--white)
  padding: 1em
  width: 100%
  display: flex
  justify-content: center
  position: fixed
  opacity: 0
  visibility: hidden
  top: 50%
  bottom: auto
  transform: translateY(-50%)
  transition-duration: 0.4s
  z-index: 1

.info-text
  max-width: var(--text-width)
  padding-right: 1rem
  overflow-y: auto

  @media (--only-small-viewport)
    max-height: 225px

  @media (--small-viewport)
    max-height: 60vh
