.info
  background: rgba(0,0,0,0.8)
  color: var(--white)
  padding: 1em
  position: fixed
  z-index: 1
  bottom: 0
  opacity: 0
  visibility: hidden
  transition-duration: 0.4s

  @media (--small-viewport)
    top: 50%
    transform: translateY(-50%)
    bottom: auto

.info-title
  font-size: 1.5em
  display: flex
  justify-content: space-between

.info-text
  @media (--only-small-viewport)
    max-height: 225px
    overflow: scroll
